#container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80vw;
  margin: 40px 0;
  font-family: sans-serif;
}

#container > * + * {
  margin-top: 20px;
}

button, input {
  font-size: 1em;
}

button {
  background: #fff;
  border: solid lightgrey 1px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  border: solid black 1px;
}

button:active {
  background: #eee;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 10px 0 0 0;
}

h1 {
  font-weight: 100;
  align-self: flex-start;
}

input {
  padding: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
